.more {
  background: #212121;
  height: auto;
  width: 100%;
  overflow: hidden;
  padding: 0 0 10rem 0;
}

.more__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.more__text {
  opacity: 0;
  visibility: hidden;
  transition: 0.7s;
  transform: translate(70px, 0);
  z-index: 995;
  color: white;
  font-weight: 300;
}

.more__text-active {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.more__text h3 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.more__text p {
  font-size: 2rem;
}

.more__img {
  opacity: 0;
  transition: 0.5s;
  z-index: 995;
  margin-right: 14rem;
}

.more__img img {
  max-width: 120%;
}

.img-animation {
  animation: animaIconJs 2s;
  opacity: 1;
}

@keyframes animaIconJs {
  to {
    transform: translate(0, 0);
  }

  from {
    transform: translate(-200px, 0);
    opacity: 0;
  }
}

@media screen and (max-width: 900px) {
  .more {
    height: auto;
    padding: 10rem 0;
  }
  .more__item {
    display: flex;
    flex-direction: column;
  }

  .more__text {
    margin-bottom: 40px;
  }

  .more__text h3 {
    font-size: 3rem;
  }

  .more__text p {
    font-size: 1.7rem;
  }

  .more__img {
    margin-right: 0;
    order: 1;
    text-align: center;
  }

  .more__img img {
    max-width: 57%;
  }
}
