.header {
  padding: 20px 5px 20px 0;
  background: #212121;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
