* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  list-style: none;
}

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #3f3c59;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 95%;
}

.container-two {
  max-width: 1100px;
  margin: 0 auto;
  width: 95%;
}
