.logo a {
  color: #212121;
  font-size: 4rem;
  font-weight: 600;
}

.logo {
  z-index: 999;
}

.logo::before {
  z-index: -1;
  content: '';
  background: white;
  width: 30%;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}

@media screen and (max-width: 900px) {
  .logo a {
    font-size: 3.5rem;
  }

  .logo::before {
    width: 50%;
    height: 100%;
  }
}
